body{
  background-color:#F7B3AD;
}
h1{
  color:#5681B5;
  font-family: 'Unica One', cursive;
  font-size:60px;
  position: absolute;
  top: 50px;
  left:550px;
}
img{
  position: absolute;
  top: 200px;
  left:500px;
  width:1000px
}
.what{
  position: absolute;
  top: 10px;
  left:0px;
  width: 400px;
}
